<%= form_with(model: [@project, @task], class: "needs-validation", novalidate: true) do |form| %>

  <% if @task.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= t('errors.template.header', count: @task.errors.count, model: t('activerecord.models.task')) %></h4>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-6 mb-3">
    <%= form.label :title, t('task.form.title'), class: "form-label" %>
    <%= form.text_field :title, class: "form-control #{'is-invalid' if @task.errors[:title].any?}", required: true %>
    <% @task.errors[:title].each do |msg| %>
      <div class="invalid-feedback"><%= msg %></div>
    <% end %>
  </div>

  <div class="col-6 mb-3">
    <%= form.label :description, t('task.form.description'), class: "form-label" %>
    <%= form.text_area :description, class: "form-control #{'is-invalid' if @task.errors[:description].any?}" %>
    <% @task.errors[:description].each do |msg| %>
      <div class="invalid-feedback"><%= msg %></div>
    <% end %>
  </div>

  <div class="col-6 mb-3">
    <%= form.label :status_id, t('task.form.status'), class: "form-label" %>
    <%= form.collection_select :status_id, Status.all, :id, :name, { prompt: t('task.form.status_prompt') },
                               class: "form-select #{'is-invalid' if @task.errors[:status_id].any?}", required: true %>
    <% @task.errors[:status_id].each do |msg| %>
      <div class="invalid-feedback"><%= msg %></div>
    <% end %>
  </div>

  <div class="col-6 mb-3">
    <%= form.label :priority_id, t('task.form.priority'), class: "form-label" %>
    <%= form.collection_select :priority_id, Priority.all, :id, :level, { prompt: t('task.form.priority_prompt') },
                               class: "form-select #{'is-invalid' if @task.errors[:priority_id].any?}", required: true %>
    <% @task.errors[:priority_id].each do |msg| %>
      <div class="invalid-feedback"><%= msg %></div>
    <% end %>
  </div>

  <div class="col-6 mb-3">
    <%= form.label :due_date, t('task.form.due_date'), class: "form-label" %>
    <%= form.date_field :due_date, class: "form-control #{'is-invalid' if @task.errors[:due_date].any?}", required: true %>
    <% @task.errors[:due_date].each do |msg| %>
      <div class="invalid-feedback"><%= msg %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :user_id, t('task.form.user'), class: "form-label" %>
    <p class="form-control-plaintext"><%= current_user.email %></p>
    <%= form.hidden_field :user_id, value: current_user&.id %>
  </div>

  <div class="col-6 mb-3">
    <%= form.label :attachments, t('task.form.attachments'), class: "form-label" %>
    <%= form.file_field :attachments, multiple: true, class: "form-control #{'is-invalid' if @task.errors[:attachments].any?}" %>
    <% @task.errors[:attachments].each do |msg| %>
      <div class="invalid-feedback"><%= msg %></div>
    <% end %>
  </div>

  <div class="row justify-content mt-3 gap-2">
    <div class="col-auto">
      <%= form.submit t('task.form.submit'), class: "btn btn-primary" %>
    </div>
    <div class="col-auto">
      <%= link_to t('task.back'), project_tasks_path(@project), class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
