<%= form_with(model: @project, local: true) do |form| %>
  <% if @project.errors.any? %>
    <div>
      <h2><%= pluralize(@project.errors.count, "erro") %> encontrado(s):</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>