<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
          <h5 class="mb-0"><%= t('project_members.index.title', project_name: @project.name) %></h5>
          <% if @project.user_id == current_user.id %>
            <%= link_to t('project_members.index.add_member'), new_project_project_member_path(@project), class: "btn btn-light btn-sm" %>
          <% end %>
        </div>
        <div class="card-body">
          <% if @project_members.any? %>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th><%= t('project_members.index.name') %></th>
                  <th><%= t('project_members.index.email') %></th>
                  <th><%= t('project_members.index.added_on') %></th>
                  <% if @project.user_id == current_user.id %>
                    <th><%= t('project_members.index.actions') %></th>
                  <% end %>
                </tr>
                </thead>
                <tbody>
                <% @project_members.each do |member| %>
                  <tr>
                    <td><%= member.user.email.split('@').first %></td>
                    <td><%= member.user.email %></td>
                    <td><%= member.created_at.strftime("%d/%m/%Y") %></td>
                    <% if @project.user_id == current_user.id %>
                      <td>
                        <%= button_to t('project_members.index.remove'), project_project_member_path(@project, member),
                                      method: :delete,
                                      class: "btn btn-danger btn-sm",
                                      data: { confirm: t('project_members.index.remove_confirm') } %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
            <div class="alert alert-info">
              <%= t('project_members.index.no_members') %>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          <%= link_to t('project_members.index.back_to_project'), project_path(@project), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>